---
layout: base.njk
title: thinking
permalink: /thinking/
---
<main class="container">
  <article class="card card--thinking">
    <div class="inner inner--thinking">
      <h1>thinking</h1>

      <div class="bio thinking-intro">
        writing and notes
      </div>

      <ul class="writing-list">
        {% for post in collections.writing %}
          <li>
            <a href="../writing/{{ post.fileSlug }}/">{{ post.data.title }}</a>
            <br>
            <small>
              fileSlug: {{ post.fileSlug }} |
              url: {{ post.url }} |
              input: {{ post.inputPath }}
            </small>
            {% if post.data.date %}
              <span>{{ post.data.date | readableDate }}</span>
            {% endif %}
          </li>
        {% else %}
          <li class="writing-list__empty">no writing published yet.</li>
        {% endfor %}
      </ul>
    </div>

    <div class="buttons buttons--single">
      <a class="btn work" href="../">back to home</a>
    </div>
  </article>
</main>
